/* CSS Document */
#contents{
	padding-top: 40px;
}
#worksSlider{
	width: 920px;
	position: relative;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
}
#worksMain{
	width: 780px;
	margin-right: auto;
	margin-left: auto;
}
.container{
	background: #FFFFFF;
	padding: 20px;
	-moz-box-shadow: 2px 2px 5px #c0c0c0;
	-webkit-box-shadow: 2px 2px 5px #c0c0c0;
	box-shadow: 2px 2px 5px #c0c0c0;
	width: 740px;
	height: 460px;
	position: relative;
}
.container .descContainer{
	width: 250px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.container h2{
	font-weight: bold;
	padding: 0px 0px 10px;
	font-size: 1.2em;
}
.container .square{
	color: #e61e1e;
	font-size: 1.3em;
	margin-right: 5px;
}
.container p{
	line-height: 180%;
	padding: 20px 0px 0px;
	font-size: 0.9em;
}
#worksSlideNavi{
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 0px;
	top: 0px;
}
#worksSlideNavi #mainSlidePrev{
	display: block;
	height: 38px;
	width: 20px;
	background: url(../images/works/prev_arrow.gif) no-repeat center top;
	text-indent:-9999px;
	z-index: 50;
	position: absolute;
	left: 0px;
	top: 231px;
}
#worksSlideNavi #mainSlidePrev:hover{
	background: url(../images/works/prev_arrow.gif) no-repeat center -38px;
}
#worksSlideNavi #mainSlideNext{
	display: block;
	height: 38px;
	width: 20px;
	background: url(../images/works/next_arrow.gif) no-repeat center top;
	text-indent:-9999px;
	z-index: 50;
	position: absolute;
	right: 0px;
	top: 231px;
}
#worksSlideNavi #mainSlideNext:hover{
	background: url(../images/works/next_arrow.gif) no-repeat center -38px;
}